@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ijbr2m');
  src:  url('fonts/icomoon.eot?ijbr2m#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ijbr2m') format('truetype'),
    url('fonts/icomoon.woff?ijbr2m') format('woff'),
    url('fonts/icomoon.svg?ijbr2m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-forward:before {
  content: "\e904";
}
.icon-arrow-right-circle:before {
  content: "\e903";
}
.icon-bookmark-delete:before {
  content: "\e900";
}
.icon-bookmark-add:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
